{% extends "base.html" %}

{% block title_head %}
<title>Zapatillas</title>
{% endblock title_head %}

{% block h1_header %}
Zapatillas
{% endblock h1_header %}

{% block main %}

<p>
    <a href={% url "crear_zapatilla" %}>Crear Zapatilla</a>
</p>

<form action="">
    {% comment %} <input type="text" name="marca" placeholder="Adidas, Nike..."> {% endcomment %}
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if listado_de_zapatillas %}
<ul>
    {% for zapatilla in listado_de_zapatillas %}
    <li>{{zapatilla}} | <a href={% url "actualizar_zapatilla" zapatilla.id %}>Actualizar</a> | <a href={% url "eliminar_zapatilla" zapatilla.id %}>Eliminar</a> | <a href={% url "detalle_zapatilla" zapatilla.id %}>Detalle</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Las zapatillas indicadas no se encuentran disponibles.</p>
{% endif %}

{% endblock main %}


{% comment %} <p class="container">Se creo la zapatilla! {{zapatilla.marca}}</p> {% endcomment %}
{% comment %} <p class="container">Se creo la zapatilla! {{zapatilla.marca}}</p> {% endcomment %}