{% extends "base.html" %}

{% block title_head %}
<title>Zapatillas</title>
{% endblock title_head %}

{% block h1_header %}
Zapatillas
{% endblock h1_header %}

{% block main %}

<form action="">
    <input type="text" name="marca" placeholder="Adidas, Nike...">
    <input type="submit" value="Buscar">
</form>

{% if listado_de_zapatillas %}
<ul>
    {% for zapatilla in listado_de_zapatillas %}
    <li>{{zapatilla}}</li>
    {% endfor %}
</ul>
{% else %}
<p>Las zapatillas indicadas no se encuentran disponibles.</p>
{% endif %}

{% endblock main %}


{% comment %} <p class="container">Se creo la zapatilla! {{zapatilla.marca}}</p> {% endcomment %}
{% comment %} <p class="container">Se creo la zapatilla! {{zapatilla.marca}}</p> {% endcomment %}